<h1>Episodik Help</h1>
<p>Thanks for checking out Episodik!</p>
<p>
    This is a web app made by students in <%= link_to "Professor Jun Yang's COMPSCI 316 course Introduction to Databases", "http://www.cs.duke.edu/courses/fall12/compsci316/"%> as the final project. 
    Our goal was to make a data-driven application where users could receive good recommendations on TV shows to watch 
    based on the ones they've rated as well as preferred in a matchup of two shows. We hope it succeeds!
</p>
<p>
    To get started, <%= link_to "sign in or sign up for an account", signin_path%> if you don't have one. You'll then be redirected to a series of pages
    where you'll make 10 preferences between 2 shows before moving on and seeing your Episodik-generated recommendations. 
    10 preferences is the minimum amount of data we need to create recommendations so feel free to rate shows you've watched already
    or to make more preferences so we have more data to create better recommnedations!
</p>
<p>
    Hope you like it!
</p>
