<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      <%= gravatar_for @user %>
      <%= @user.name %>
      </h1>
    </section>
    <% if @rated_shows %>
    <p>
      Your Rated Shows:
    </p>
    <ul>
      <% @rated_shows.each_with_index do |show, i| %>
      <li>
        <%= link_to show.name, show %>
      </li>
      <% end %>
    </ul>
    <% else %>
    <p>
      No shows rated yet! 
    </p>
    <% end %>
    <% if @recommendations %>
    <p>
      Your Recommendations:
    </p>
    <ul>
      <% @recommendations.each_with_index do |rec, i| %>
      <li>
        <%= link_to rec.name, rec %>
      </li>
      <% end %>
    </ul>
    <% else %>
    <p>
      No recommendations yet! 
    </p>
    <% end %>
  </aside>
</div>